@charset "UTF-8";
*{
    margin: 0;
}

/*Aqui começa o header*/

header{
    display: flex;
    background-color: rgb(7, 56, 29);
    border-bottom: solid 2px rgb(208, 248, 202);
    justify-content: space-evenly;
    padding: 5px 0px 5px 0px;
}

.ha{
    padding-top: 15px;
    color: white;
    text-decoration: none;
    padding-bottom: solid 2px white;
    
}


/*Aqui começa o main*/

main{
    margin: 0 auto;
    
}

/*Aqui começa o footer*/

footer{
    background-color: rgb(208, 248, 202);
    display: flex;
    justify-content: space-between;
}

#foot1{
    text-align: center;
    width: 50%;
}

#foot1 img{
    width: 30%;
    height: auto;
}

#foot2{
    justify-content: space-evenly;
    display: flex;
    width: 50%;
}

.footblock{
    display: block;
}

.fa{
    color: black;
    text-decoration: none;
    display: flex;
}

.fa div{
    margin-left: 4px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}

.space{
    margin-top: 20px
}
