@charset "UTF-8";

*{
    margin: 0;
}

header{
    display: flex;
    background-color: rgb(0, 78, 0);
    border-bottom: solid 2px rgb(96, 133, 91);
    justify-content: space-evenly;
    padding: 5px 0px 5px 0px;
}

.ha{
    padding: 20px 0 0 0;
    color: white;
    text-decoration: none;
    border-bottom: solid 2px white;
    
}

#inicio{
    display: flex;
}