@charset "UTF-8";

*{
    margin: 0;
}

/*Aqui começa o header*/

header{
    display: flex;
    background-color: rgb(7, 56, 29);
    border-bottom: solid 2px rgb(208, 248, 202);
    justify-content: space-evenly;
    padding: 5px 0px 5px 0px;
}

.ha{
    padding-top: 15px;
    color: white;
    text-decoration: none;
    padding-bottom: solid 2px white;
    
}

/*Aqui começa o inicio*/

#inicio{
    display: flex;
    width: 100%;
}

#inicio img{
    width: 60%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#inicio2 img{
    width: 35%;
}

#inicio2{
    color: white;
    width: 40%;
    background-image: linear-gradient(to right bottom, #105231, #60916f);
    padding: 40px;
}

/*Aqui começa o main da página*/

main{
    padding-top: 30px;
    margin: 0 auto;
    display: block;
    justify-content: space-between;
    width: 80%;
    align-self: center;
}

.secao{
    justify-content: space-between;
    display: flex;
    margin-bottom: 10px;
}

.block1{
    overflow: hidden;
    border: solid 1px rgb(46, 46, 46);
    box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    width: 100%;

}

.block1 h2{
    text-align: center;
    background-color: #194727;
    color: white;

}

.block1 p{
    padding: 10px;
    text-align: justify;
}

.block{
    overflow: hidden;
    border: solid 1px rgb(46, 46, 46);
    box-shadow: 5px 5px 10px rgba(46, 46, 46, 0.3);
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;

}

.block h2{
    text-align: center;
    background-color: #194727;
    color: white;

}

.block p{
    text-align: justify;
    padding: 10px;
}

/*Aqui começa o footer*/
footer{
    background-color: rgb(208, 248, 202);
    display: flex;
    justify-content: space-between;
}

#foot1{
    text-align: center;
    width: 50%;
}

#foot1 img{
    width: 30%;
    height: auto;
}

#foot2{
    width: 50%;
}

.footblock{
    display: block;
}

.fa{
    color: black;
    text-decoration: none;
}
